<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pgotchi-dev-east-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/87779898-83fb-44d7-a8c4-02261802f316/resourceGroups/pgotchi-dev-east/providers/Microsoft.Web/sites/pgotchi-dev-east-functions</ResourceId>
    <UserName>$pgotchi-dev-east-functions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pgotchi-dev-east-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>